# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/

# Build outputs
dist/
dist-ssr/
.vite/

# Firebase credentials or config
src/firebase.js
.firebase/

# Environment variables
.env
.env.*

# Local files
*.local

# Editor/IDE settings
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
