@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

/* Custom styles (if any) */

@theme {
  --breakpoint-xs: 350px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}
@keyframes slide-left {
  0% {
    left: 0%;
  }
  50% {
    left: calc(100% - 16px);
  }
  100% {
    left: 0%;
  }
}

.animate-slide-left-3 {
  animation: slide-left 4s ease-in-out infinite;
  animation-delay: 0s;
}

.animate-slide-left-4 {
  animation: slide-left 4s ease-in-out infinite;
  animation-delay: -0.75s;
}

.animate-slide-left-5 {
  animation: slide-left 4s ease-in-out infinite;
  animation-delay: -1.5s;
}

.animate-slide-left-6 {
  animation: slide-left 4s ease-in-out infinite;
  animation-delay: -2.25s;
}

/* Hide scrollbar cross-browser */
.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer/Edge */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
